.header{
    width: 60%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    margin-top: 15px;
}
a:hover{
    color: darksalmon;
}