.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.keyboard{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: #F0F0F1;
}

.holder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.left{
    width: 10%;
    margin-left: 20px;
    height: 800px;
    background-color: #F0F0F1;


}
.right{
    width: 80%;
    margin-right: 20px;
    background-color: #F0F0F1;
}
.right, .left, .keyboard{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


/*switcher*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0A0A25FF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0A0A25FF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

