.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.keyboard{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.holder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.left{
    width: 10%;
    margin-left: 20px;
    height: 800px;


}
.right{
    width: 80%;
    margin-right: 20px;
}
.right, .left, .keyboard{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}